{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
  {jsone,{git,"https://github.com/sile/jsone.git",{tag,"master"}}},
  {etest_http, "", {git, "git://github.com/wooga/etest_http.git"}}

]}.

{relx, [{release, { cache_server, "0.1.0" },
         [cache_server,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
